<html>
    <center>
        <a href="/index">点击进入</a>
        <h1>基于python的个人网盘</h1>
        <h2>时间2021/04/19</h2>
        <h3>作者：刘秉哲</h3>
        <h1 style="color: crimson;">请尽快支付！</h1>
        <img src="/static/w.jpg" style="width: 200px;">
        <img src="/static/z.jpg" style="width: 200px;">


        <p>提供至毕业的修改服务</p>
        <p>不提供有关论文内容书写请自行百度</p>
        <p>赠送两张架构图  在doc文件夹</p>
        <p>数据库结构 位于/app/model.py  根据注释完成论文数据库说明部分</p>
        <p>登陆账号密码在setting.py，可以修改成自己想要的</p>
    </center>
</html>