<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>文件上传</title>
  <link rel="stylesheet" href="\static\layui\css\layui.css" media="all">
  <script src="\static\layui\layui.all.js"></script>
  <script src="\static\layui\layui.js"></script>
</head>
<body>
  
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
  <legend id='dir'>多文件上传|当前上传文件夹：{{name}}</legend>
</fieldset> 
 
<div class="layui-upload">
  <button type="button" class="layui-btn layui-btn-normal" id="testList">选择多文件</button> 
    <button type="button" class="layui-btn" id="testListAction">开始上传</button>
    <div class="layui-progress layui-progress-big" lay-filter="progress_bar" lay-showPercent="true">
  <div class="layui-progress-bar" lay-percent="">
  </div>
  <div class="layui-upload-list">
    <table class="layui-table">
      <thead>
        <tr><th>文件名</th>
        <th>大小</th>
        <th>状态</th>
        <th>操作</th>
      </tr></thead>
      <tbody id="demoList"></tbody>
    </table>
</div> 
</div> 
</div> 
 
          
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
layui.use(['upload','element'], function(){
  var $ = layui.jquery,
  upload = layui.upload;
  element = layui.element;
  element.init();
  // $('#dir').html("多文件上传|当前上传文件夹："+localStorage.getItem('now_dir'))
 //多文件列表示例
  var demoListView = $('#demoList')
  ,uploadListIns = upload.render({
     elem: '#testList' //操作对象
    ,url: '/api/upload/'+localStorage.getItem('now_dir') //改成您自己的上传接口
    ,accept: 'file'  //接受的文件类型
    ,multiple: true //是否多文件上传
    ,auto: false //是否自动上传
    ,bindAction: '#testListAction' //指向一个按钮触发上传
    ,choose: function(obj){  
      var files = this.files = obj.pushFile(); //将每次选择的文件追加到文件队列
      //读取本地文件
      obj.preview(function(index, file, result){
        var tr = $(['<tr id="upload-'+ index +'">'
          ,'<td>'+ file.name +'</td>'
          ,'<td>'+ (file.size/1024).toFixed(1) +'kb</td>'
          ,'<td>等待上传</td>'
          ,'<td>'
            ,'<button class="layui-btn layui-btn-xs demo-reload layui-hide">重传</button>'
            ,'<button class="layui-btn layui-btn-xs layui-btn-danger demo-delete">删除</button>'
          ,'</td>'
        ,'</tr>'].join(''));
        
        //单个重传
        tr.find('.demo-reload').on('click', function(){
          obj.upload(index, file);
        });        
        //删除
        tr.find('.demo-delete').on('click', function(){
          delete files[index]; //删除对应的文件
          tr.remove();
          uploadListIns.config.elem.next()[0].value = ''; //清空 input file 值，以免删除后出现同名文件不可选
        });        
        demoListView.append(tr);
      });
    }
    ,before: function(obj){ //obj参数包含的信息，跟 choose回调完全一致，可参见上文。
      layer.load(); //上传loading
    }
    ,progress: function(n, elem){
    var percent = n + '%' //获取进度百分比
    element.progress('progress_bar', percent);
  }
    ,done: function(res, index, upload){
      element.init();
      if(res.code==200){ //上传成功
        layer.closeAll('loading');
        var tr = demoListView.find('tr#upload-'+ index)
        ,tds = tr.children();
        tds.eq(2).html('<span style="color: #5FB878;">上传成功</span>');
        tds.eq(3).html(''); //清空操作
        return delete this.files[index]; //删除文件队列已经上传成功的文件
      }if(res.code=201){
        layer.closeAll('loading');
        this.error(index, upload,res.msg);
      }
    }
    ,error: function(index, upload,msg){
      var tr = demoListView.find('tr#upload-'+ index)
      ,tds = tr.children();
      tds.eq(2).html(`<span style="color: #FF5722;">${msg}</span>`);
      tds.eq(3).find('.demo-reload').removeClass('layui-hide'); //显示重传
    }
  });
});
</script>

</body>
</html>